body {
  margin: 0;
  align-items: center;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.nav-link:hover {
  text-decoration: underline;
}

.btn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #61dafb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* margin-top: 20px; */
}

.btn:hover {
  background-color: #48b6e8;
}

.App-link {
  color: #61dafb;
}
