@import "../global.scss";

header {
  background-color: #18191c;
  width: 100%;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 0 20px;
    margin: 5;
    gap: 10px; 

    img {
      height: 40px;
      align-self: left;
    }

    .button-group {
        display: flex;
        width: 20vw;

        a {
            color: white;
            text-decoration: none;
            padding: 10px 15px;
            transition: color 0.3s ease;
            align-items: center;
      
            &:hover {
              color: #3e5c76;
            }
          }
      
          .contact {
            background-color: #3e5c76;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            transition: background-color 0.3s ease;
      
            i {
              margin-right: 5px;
            }
      
            &:hover {
              background-color: darken(#3e5c76, 10%);
            }
          }
    }

    
  }

  &.sticky {
    background-color: rgba(#18191c, 0.9);
    box-shadow: 0 2px 5px rgba(black, 0.2);
  }
}
