@import "../../global.scss";

.new-posting-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  h1 {
    margin-bottom: 20px;
    margin-top: 10vh;
  }

  .form-inputs {
    margin-top: 1.25rem;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;

    input {
      padding: 0.65rem;
    }

    .signup-button {
      background-color: $primary;
      color: $text;
      padding: 0.25rem;
      border-radius: 0.5rem;
      margin-top: 0.5rem;
      font-weight: 500;
      transition: background-color 0.35s, color 0.35s;
      border: none;

      &:hover {
        background-color: white;
        color: $primary;
      }
    }
  }
}
